# ST-Link/V2 烧录器配置 (OpenOCD 0.11.x)
source [find interface/stlink.cfg]
transport select hla_swd
# 兼容国产芯片 (GD32F103/CKS32F103 等)
set CPUTAPID 0x2ba01477
source [find target/stm32f1x.cfg]
# 下载速度 4MHz (稳定优先)
adapter speed 4000
